@charset "utf-8";
/* CSS Document */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", system-ui;
    text-decoration: none;
    list-style: none;
}

body {
    background-image: url(img/fondo-gris.jpg);
}

main {
    position: relative;
    z-index: 1;
}

/* -----------------  botonera ------------------- */

.botonera {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 7%;
    background-color: rgb(39, 39, 39);
    z-index: 2;
}

#menu-nav {
    display: flex;
    gap: 60px;
}

.boton {
    color: #DADADA;
}

.boton:hover {
    padding-bottom: 5px;
    border-bottom: 3px solid #590D8B;
}

.logo:hover {
    filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.50));
}

/* menú hamburguesa */

.menu-icon {
	display: none;
	font-size: 1em;
	cursor: pointer;
}
#menu-toggle {
	display: none;
}

/*---------------------- PORTADA - index ----------------------- */

.portada {
    background-image: url(img/img-presentacion.jpg);
    height: 850px;
    display: flex;
    justify-content: space-between;
    padding: 100px 170px;
    align-items: flex-end;
}

.quintana {
    display: flex;
    flex-direction: column;
    width: 77%;
    gap: 20px;
}

.q-tipografia {
    width: 1030px;
    height: auto;
    filter: drop-shadow(-4px 4px 2px rgba(89, 13, 139, 0.50));
}

.quintana ul {
    align-self: flex-end;
    font-style: italic;
}

.flechas-scroll {
    animation: icon infinite 2s alternate ease-in-out;
}

@keyframes icon {
    from {
        transform: translateY(-50px);
    }

    to {
        transform: translateY(0px);
    }
}

/* ---------------------- HOLA -------------------------- */
.presentacion {
    position: relative;
    margin: 200px 0px 200px 0px;
}

.hola {
    padding-left: 14%;
    width: auto;
    margin-bottom: 30px;
    filter: drop-shadow(-5px 3px 2px rgba(29, 29, 27, 0.50));
}

.texto-presentacion {
    background-color: rgb(154, 73, 208, 0.20);
    border-radius: 0px 20px 20px 0px;
    max-width: 70%;
    padding: 20px 10px 30px 14%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.diamantes {
    position: absolute;
    bottom: 20px;
    right: 23%;
    border-bottom: 3px solid #590D8B;
    padding-left: 14%;
    width: auto;
}

/* ----------------------- SLIDES --------------------------*/

input[type="radio"] {
    display: none;
}

.container {
    position: relative;
    height: 920px;
    width: 100%;
    padding: 0px;
}

.slide-wrapper {
    position: relative;
    margin: 0 auto;
    padding: 5px;
    width: 100%;
    max-width: 1230px;
    height: 750px;
    overflow: hidden;
}

/*Slides*/

#slide-role {
    background: inherit;
    position: absolute;
    top: 0;
    left: 0;
    width: 300%;
    height: 100%;
    z-index: 100;
    transition: left .5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    display: flex;
}

.slide {
    width: 50%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

/* backgrounds */

.slide-1 {
    background-image: url(img/slide-index/desplegable-slide.png);
}

.slide-2 {
    background-image: url(img/slide-index/lettering-slide.png);
}

.slide-3 {
    background-image: url(img/slide-index/thhrasher-slide.png);
}


/*BUTTONS*/

.btn,
.btn::after {
    border-radius: 50%;
    transition: all .5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.btn {
    position: absolute;
    bottom: 12%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transform: scale(1.1);
    z-index: 1000;
}

.btn:nth-of-type(1) {
    left: 38%;
}

.btn:nth-of-type(2) {
    left: 45%;
}

.btn:nth-of-type(3) {
    left: 52%;
}

.btn:nth-of-type(4) {
    left: 59%;
}

.btn:hover {
    transform: scale(1.4);
}

/* buttons Atom! */

.btn::after {
    content: "";
    display: inline-block;
    background: #590D8B;
    width: 20px;
    height: 20px;
    margin: 3px 3px;
    transform: scale(.5, .5);
    box-shadow: 0px 0px 10px #590D8B;
}

/*L O G I C*/

/* slide logic */

input[type="radio"]:checked#slide-2-trigger~div.slide-wrapper>div#slide-role {
    left: -100%;
}

input[type="radio"]:checked#slide-3-trigger~div.slide-wrapper>div#slide-role {
    left: -200%;
}

input[type="radio"]:checked#slide-4-trigger~div.slide-wrapper>div#slide-role {
    left: -300%;
}

/* button logic */

input[type="radio"]:checked+label.btn {
    transform: scale(1.2);
}

input[type="radio"]:checked+label.btn::after {
    transform: scale(1.1, 1.1);
    background: #590D8B;
}

/*MEDIA QUERIES*/

@media only screen and (max-width: 750px) {
    .slide-wrapper {
        width: 76%;
        height: 100%;
    }
    .btn:nth-of-type(1) {
        left: 93%;
        bottom: 60%;
    }
    .btn:nth-of-type(2) {
        left: 93%;
        bottom: 50%;
    }
    .btn:nth-of-type(3) {
        left: 93%;
        bottom: 40%;
    }
    .btn:nth-of-type(4) {
        left: 93%;
        bottom: 30%;
    }
}

@media only screen and (max-width: 450px) {
    .btn:nth-of-type(1) {
        left: 91%;
    }
    .btn:nth-of-type(2) {
        left: 91%;
    }
    .btn:nth-of-type(3) {
        left: 91%;
    }
    .btn:nth-of-type(4) {
        left: 91%;
    }
}

/* ----------------------- ESTILOS DE H ---------------------- */

h1 {
    max-width: 200px;
    font-size: 2.5em;
    letter-spacing: 3px;
    font-variant: small-caps;
    color: #ffffff;
    line-height: 35px;
}

h2 {
    font-size: 1.5em;
    font-weight: bold;
    border-bottom: 2px solid #9A48D0;
    width: fit-content;
    padding: 0px 30px 5px 0px;
    margin-bottom: 10px;
}

.datos h3 {
    font-size: 0.8em;
    color: #1D1D1B;
}

p {
    line-height: 30px;
    font-size: 1em;
}

/* ---------------------- SOBRE MI -------------------------- */

.perfil {
    display: flex;
    justify-content: center;
    padding: 100px 0px;
    gap: 50px;
    height: 90vh;
}

.datos ul li {
    font-size: 0.8em;
    color: #DADADA;
}

.imgperfil {
    box-shadow: -30px 60px 0px 0px #888;
}

.informacion {
    display: flex;
    flex-direction: column;
    gap: 10%;
}

.sobre-mi {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.estudios-aptitudes {
    display: flex;
    gap: 10%;
    justify-content: space-between;
}

.estudios-aptitudes li {
    padding: 5px 0px 5px 30px;
}

.estudios, .habilidades {
    max-width: 485px;
}

/* -------------------------------------------------------- */

.tipografia {
    filter: drop-shadow(-5px 3px 2px rgba(29, 29, 27, 0.50));
    margin-bottom: 50px;
    max-width: fit-content;
    height: auto;
    align-self: flex-start;
}

/* ----------------------- PROYECTOS ----------------------- */

.centrado, .centrado-dos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.centrado-dos {
    background-color: rgb(154, 73, 208, 0.20);
    margin: 100px 0px 100px 0px;
    padding: 100px 0px 100px 0px;
}

.duo-filas-end {
    display: flex;
    align-items: flex-end;
    gap: 30px;
}

.duo-filas {
    display: flex;
    gap: 30px;
}

.descripcion {
    width: 400px;
}

.descripcion li {
    padding-top: 10px;
}

h5 {
    letter-spacing: 1px;
}

.columna-thrasher{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

.fila3-thrasher {
    display: flex;
    justify-content: center;
    position: relative;
    gap: 30px;
}

#tipografia {
    margin-left: 136px;
    padding: 50px 0px 0px;
}

.diablito{
    position: absolute;
    bottom: -10%;
    left: -12%;

    animation: dos 5s infinite alternate ease-in-out;
}

.slider-thrasher {
    width: 600px;
    height: auto;
    overflow: hidden;

    
}
  
.slider-thrasher ul {
    display: flex;
    width: 300%;
    animation: latas 9s infinite alternate-reverse ease-in-out;
}

.slider-thrasher li {
    width: 100%;
    height: auto;
}

.slider-thrasher img {
    width: 100%;
}

@keyframes latas {
    0% {margin-left: 0;}
    10% {margin-left: 0;}
    
    50% {margin-left: -100%;}
    60% {margin-left: -100%;}

    90% {margin-left: -200%;}
    100% {margin-left: -200%;}
}

#marciano {
    animation: martian infinite 5s alternate ease-in-out;
}

@keyframes martian {
    0% {
        transform: rotate(30deg);
    }

    100% {
        transform: rotate(-30deg);
    }
}

@keyframes dos {
    0% {
        transform: rotate(-20deg);
    }
    100% {
        transform: rotate(20deg);
    }
}

.columna-proyectos {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 30px;
}

.infografia:hover {
    background-image: url(img/sifon-drago/infografia-grilla.jpg);
}

/* ----------------------- GALERIA AMPLIADA -------------------- */

#galeria {
	display: none;
	width: 100%;
	justify-content: center;
	height: 100vh;
    background-image: url(img/fondo-gris.jpg);
	position: absolute;
	top: 0;
	z-index: 10;
}

#galeria-oculta {
	display: flex;
	width: 100%;
	max-width: 1450px;
	overflow: hidden;
	z-index: 20;
}

.fraccion-galeria {
	display: flex;
	align-items: center;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	width: 100%;
	min-width: 1450px;
	height: 100vh;
	justify-content: space-between;
}

.primer-ultima-flecha {
	visibility: hidden;
}

.close {
	position: absolute;
	top: 10px;
	right: 2%;
}

/*------IDS CON LAS IMÁGENES DE LA GALERÍA-------*/

#foto-1 {
	background-image: url("img/thrasher/latas-flotando.jpg");
}

#foto-2 {
	background-image: url("img/thrasher/chica-grafity.jpg")
}

#foto-3 {
	background-image:url("img/thrasher/lata-violeta.jpg");
}

#foto-4 {
	background-image:url("img/thrasher/lata-azul.jpg");
}

#foto-5 {
	background-image:url("img/thrasher/lata-roja.jpg");
}

#foto-6 {
	background-image:url("img/thrasher/muck-patineta.jpg");
}

#foto-7 {
	background-image:url("img/lettering/afiches.jpg");
}

#foto-8 {
	background-image:url("img/lettering/entradas.jpg");
}

#foto-9 {
	background-image:url("img/lettering/memoria.jpg");
}

#foto-10 {
	background-image:url("img/sifon-drago/infografia.jpg");
}

#foto-11 {
	background-image:url("img/sifon-drago/movil.jpg");
}

#foto-12 {
	background-image:url("img/sifon-drago/aperitivos.jpg");
}

#foto-13 {
	background-image:url("img/desplegable/desplegable.jpg");
}

#foto-14 {
	background-image:url("img/desplegable/cap-figma.jpg");
}

/* ----------------------- cinta PROGRAMAS ------------------ */

.slider-programas{
    overflow: hidden;
    padding: 30px 0px;
}
.slider-programas .slide-track{
    display: flex;
    gap: 50px;
    align-items: center;
    animation: scroll 10s linear infinite;
    width: calc(90px * 28);
    -webkit-animation: scroll 10s linear infinite;
}

.slider-programas .slide img{
    width: 100%;
    height: auto;
}
@keyframes scroll{
    0%{
        transform: translate(0);
        -webkit-transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-90px * 7));
        -webkit-transform: translateX(calc(-90px * 7));
    }
}

/* ----------------------- FORMULARIO ---------------------- */
.contacto {
    height: 100vh;
}

.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 170px;
}

form {
    border-top: 2px solid #1D1D1B;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    max-width: 1000px;
}

input, textarea, select {
    background-color: rgb(154, 73, 208, 0.20);
    border-radius: 10px;
    width: 100%;
    padding: 10px;
    border: none;
    margin: 5px 0px 20px;
}

textarea {
    min-height: 100px;
}

.label {
    margin-left: 10px;
    color: #1D1D1B;
}
.dos-columnas-form {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    gap: 20px;

}

.columnas-form{
    width: 100%;
}

select {
    cursor: pointer;
}

option {
    color: #1D1D1B;
    background-color: rgb(154, 73, 208, 0.20);
    padding: 5px;

}
  
option:hover {
    background-color: #590D8B;
}

.enviar-borrar{
    display: flex;
    align-items: end;
    max-width: fit-content;
    border-radius: 10px;
    gap: 15px;
    align-self: flex-end;
}

.submit {
    background-color: #590D8B;
    color: #DADADA;
}
.reset {
    background-color: #888;
    color: #DADADA;
}

/* ---------------------------- PIE ---------------------------- */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 135px;
    background-color: rgb(39, 39, 39);
    color: #DADADA;
    font-size: 0.8em;
}

.footer-derecha {
    display: flex;
    align-items: center;
    gap: 20px;
}

.volver {
    display: flex;
    align-items: center;
}

.volver a {
    font-size: 1.2em;
    color: #DADADA;
    letter-spacing: 0.1em;
}

/* -------------------- flotante redes ----------------------- */
.redes-fixed {
    position: fixed;
    top: 40%;
    right: 0;
    background-color: rgb(39, 39, 39);
    padding: 15px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 13px;
    z-index: 2;
}

.redes-fixed a {
    padding-bottom: 3px;
    display: flex;
    align-items: center;
}

.redes-fixed a:hover {
    border-bottom: 3px solid #888;
    margin-bottom: -3px;
}

/* >> CURSOR >> */
.cursor {
	position: fixed;
	z-index: 250;
	width: 25px;
	height: 25px;
	background-image: url("img/cursor.png");
	background-size: cover;
	cursor: none;
	pointer-events: none; 
}

/* ------------------- MEDIA QUERIES / INDEX ---------------------*/

@media screen and (max-width: 600px) {

    .botonera {
        padding: 20px;
    }

    #menu-nav {
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 24px;
        width: 100%;
        height: 100vh;
        background-color: #1D1D1B;
        position: fixed;
        top: 0;
        right: 0;
        padding-top: 24%;
        transition: background 0.4s ease;
    }
	#menu-nav li {
		display: flex;
		text-align: center;
	}

    #menu-nav li a {      
        font-weight: 600;
    }

    .menu-icon {
		display: block;
		z-index: 1;
		background-image: url('img/iconos/menu.svg');
		background-size: cover;
		width: 33px;
		height: 33px;
		transition: background-image 0.4s ease;
	}

	#menu-toggle:checked + .menu-icon + #menu-nav {
		display: flex;
	}

	#menu-toggle:checked + .menu-icon {
        background-image: url(img/iconos/cruz.svg);
        width: 30px;
        height: 30px;
        position: fixed;
        right: 24px;
    }

    /*-------------------------*/

    .portada {
        align-items: center;
        flex-direction: column;
        justify-content: flex-end;
        gap: 50px;
        padding: 0px;
        height: 90vh;
    }

    .q-tipografia {
        width: 100%;        
    }

    .texto-presentacion {
        padding: 20px 10px 30px 10%;
        max-width: 80%;  
    }        

    .diamantes {
        bottom: 20px;
        right: 0%;
    }

    /*------------------------------------*/

    .redes-fixed {
        display: none;
    }

    footer {
        align-items: center;
        padding: 20px 0px;
        flex-direction: column-reverse;
        gap: 30px;
    }

    /*-------------------------------------*/

    .perfil {
        padding: 50px 30px;
        height: 90vh;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    .estudios-aptitudes {
        padding-top: 30px;
    }

    /*------------------------------------*/

    .tipografia {
        margin-bottom: 30px;
    }

    .formulario{
        padding: 50px 30px;
    }
}