@charset "utf-8";
/* CSS Document */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", system-ui;
}

/* encabezado y la botonera */
header img {
    display: flex;
    width: 72px;
    height: 37px;
    box-sizing: border-box;
}

.botonera {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 135px;
    background-color: rgb(39, 39, 39);
}

.botonera ul {
    display: flex;
    list-style: none;
    gap: 60px;
}

.botonera a {
    text-decoration: none;
    color: #DADADA;
}

.botonera a:hover {
    padding-bottom: 5px;
    border-bottom: 3px solid #590D8B;
}

/* cuerpo de la web */
main {
    padding: 100px 170px 50px 170px;
    background-color: #DADADA;
}

.preprensa a {
    box-sizing: border-box;
    text-decoration: none;
    color: black;
}

.preprensa a:hover{
    font-weight: bold;
    color:#9A48D0;
}

h1 {
    max-width: 200px;
    font-size: 2.5em;
    letter-spacing: 3px;
    font-variant: small-caps;
    color: #ffffff;
    line-height: 35px;
}

h2 {
    font-size: 1.5em;
    font-weight: bold;
    border-bottom: 2px solid #9A48D0;
    width: fit-content;
    padding: 0px 30px 5px 0px;
    margin-bottom: 10px;
}

p {
    line-height: 30px;
    font-size: 1em;
}

.descripcion {
    margin: 40px 0 10px 0;
}

.seccionuno {
    display: flex;
    gap: 100px;
}

.seccionuno img {
    box-shadow: 30px 70px 0 0 #888;
}

.dosfilas {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.estudios, .habilidades {
    max-width: 485px;
}

.seccionuno ul {
    list-style: none;
    padding-left: 40px;
    line-height: 30px;
}
.preprensa ul {
    list-style: none;
    line-height: 30px;
    min-width: 210px;
}

.puesto ol {
    padding-left: 60px;
    padding-top: 10px;
}
.pinterest img{
    margin: 10px 0px;
}
.pinterest{
    columns: 4 350px;
}

footer p{
    line-height: 20px;
}

.hobbies div{
    padding-left: 40px;
}

/* Pie de imagen */
.datos {
    width: 350px;
    padding: 6px 0 0 50px;
    color: #ffffff;
    font-size: 12px;
    flex-direction: column;
    box-sizing: border-box;
}

.datos h3 {
    color: black;
}

.datos ul {
    list-style: none;
    padding: 0;
    margin: 0;
    color: #ffffff;
    font-size: 12px;
    font-weight: 100;
    line-height: 1.5;
}

/* sección de experiencia */
.experiencia {
    display: flex;
    flex-direction: column;
    height: 900px;
    justify-content: center;
}

.preprensa {
    display: flex;
    gap: 100px;
}

.puesto {
    max-width: 800px;
    line-height: 30px;
}

/* pie de página */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgb(39, 39, 39);
    color: #DADADA;
    font-size: 0.8em;
}

.redes {
    display: flex;
    gap: 20px;
}