@charset "utf-8";
/* CSS Document */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", system-ui;
    text-decoration: none;
    list-style: none;
}

body {
    background-image: url(img/fondo-gris.jpg);
}

/* -----------------  botonera ------------------- */

.botonera {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 135px;
    background-color: rgb(39, 39, 39);
}

.botonera ul {
    display: flex;
    list-style: none;
    gap: 60px;
}

.boton {
    text-decoration: none;
    color: #DADADA;
}

.boton:hover {
    padding-bottom: 5px;
    border-bottom: 3px solid #590D8B;
}

.logo:hover {
    filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.50));
}

/*---------------------- PORTADA ----------------------- */

.portada {
    background-image: url(img/img-presentacion.jpg);
    width: 100%;
    height: 850px;
    display: flex;
    justify-content: space-between;
    padding: 100px 170px;
    align-items: flex-end;
}

.quintana {
    display: flex;
    flex-direction: column;
    width: 77%;
    gap: 20px;
}

.quintana img {
    width: 1030px;
    height: auto;
    filter: drop-shadow(-4px 4px 2px rgba(89, 13, 139, 0.50));
}

.quintana ul {
    align-self: flex-end;
    font-style: italic;
}

.flechas-scroll {
    animation: icon infinite 2s alternate ease-in-out;
}

@keyframes icon {
    from {
        transform: translateY(-50px);
    }

    to {
        transform: translateY(0px);
    }
}

/* ---------------------- HOLA -------------------------- */
.presentacion {
    position: relative;
    margin: 100px 0px 100px 0px;
}

.presentacion img {
    padding-left: 14%;
    width: auto;
}

.texto-presentacion {
    background-color: rgb(154, 73, 208, 0.20);
    border-radius: 0px 20px 20px 0px;
    max-width: 70%;
    padding: 20px 10px 30px 14%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.diamantes {
    position: absolute;
    bottom: 20px;
    right: 23%;
    border-bottom: 3px solid #590D8B;
}

/* ----------------------- ESTILOS DE H ---------------------- */

h1 {
    max-width: 200px;
    font-size: 2.5em;
    letter-spacing: 3px;
    font-variant: small-caps;
    color: #ffffff;
    line-height: 35px;
}

h2 {
    font-size: 1.5em;
    font-weight: bold;
    border-bottom: 2px solid #9A48D0;
    width: fit-content;
    padding: 0px 30px 5px 0px;
    margin-bottom: 10px;
}

.datos h3 {
    color: black;
}

p {
    line-height: 30px;
    font-size: 1em;
}

/* ---------------------- SOBRE MI -------------------------- */

.estudios-aptitudes {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    gap: 10%;
}

.estudios-aptitudes li {
    padding: 5px 0px 5px 30px;
}

.estudios, .habilidades {
    max-width: 485px;
}

.imgperfil {
    filter: drop-shadow(-30px 99px 0px 0px #888);
}

/*----------*/

.preprensa a {
    box-sizing: border-box;
    text-decoration: none;
    color: black;
}

.preprensa a:hover{
    font-weight: bold;
    color:#9A48D0;
}

.seccionuno {
    display: flex;
    gap: 100px;
}

.seccionuno img {
    box-shadow: 30px 70px 0 0 #888;
}

.seccionuno ul {
    list-style: none;
    padding-left: 40px;
    line-height: 30px;
}
.preprensa ul {
    list-style: none;
    line-height: 30px;
    min-width: 210px;
}

.puesto ol {
    padding-left: 60px;
    padding-top: 10px;
}
.pinterest img{
    margin: 10px 0px;
}
.pinterest{
    columns: 4 350px;
}

footer p{
    line-height: 20px;
}

.hobbies div{
    padding-left: 40px;
}

/* sección de experiencia */
.experiencia {
    display: flex;
    flex-direction: column;
    height: 900px;
    justify-content: center;
}

.preprensa {
    display: flex;
    gap: 100px;
}

.puesto {
    max-width: 800px;
    line-height: 30px;
}


/* Pie de imagen */
.datos {
    width: 350px;
    padding: 6px 0 0 50px;
    color: #ffffff;
    font-size: 12px;
    flex-direction: column;
}

.datos ul {
    padding: 0;
    margin: 0;
    color: #ffffff;
    font-size: 12px;
    font-weight: 100;
    line-height: 1.5;
}


/* -------------------------------------------------------- */

.tipografia {
    filter: drop-shadow(-5px 3px 2px rgba(29, 29, 27, 0.50));
    margin-bottom: 50px;
    max-width: fit-content;
    height: auto;
    align-self: flex-start;
}

/* ----------------------- PROYECTOS ----------------------- */

.centrado, .centrado-dos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.centrado-dos {
    background-color: rgb(154, 73, 208, 0.20);
    margin: 100px 0px 100px 0px;
    padding: 100px 0px 100px 0px;
}

.duo-filas-end {
    display: flex;
    align-items: flex-end;
    gap: 30px;
}

.duo-filas {
    display: flex;
    gap: 30px;
}

.descripcion {
    width: 400px;
}

.descripcion li {
    padding-top: 10px;
}

h5 {
    letter-spacing: 1px;
}

.columna-thrasher{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

.fila3-thrasher {
    display: flex;
    justify-content: center;
    position: relative;
    gap: 30px;
}

#tipografia {
    margin-left: 136px;
    padding: 50px 0px 0px;
}

.diablito{
    position: absolute;
    bottom: -10%;
    left: -12%;
}

@keyframes martian {
    0% {
        transition: rotate(1deg);
    }

    100% {
        transition: rotate(360deg);
    }
}

#marciano {
    animation: martian infinite 5s alternate;
}

.diablito {
    animation: dos 10s infinite alternate ease-in-out;
}

@keyframes dos {
    0% {
        transform: rotate(-20deg);
    }
    100% {
        transform: rotate(-20deg);
    }
}

.columna-proyectos {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 30px;
}

.infografia:hover {
    background-image: url(img/sifon-drago/infografia-grilla.jpg);
}

/* ----------------------- cinta PROGRAMAS ------------------ */

.slider-programas{
    overflow: hidden;
    padding: 30px 0px;
}
.slider-programas .slide-track{
    display: flex;
    gap: 50px;
    align-items: center;
    animation: scroll 10s linear infinite;
    width: calc(90px * 28);
    -webkit-animation: scroll 10s linear infinite;
}

.slider-programas .slide img{
    width: 100%;
    height: auto;
}
@keyframes scroll{
    0%{
        transform: translate(0);
        -webkit-transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-90px * 7));
        -webkit-transform: translateX(calc(-90px * 7));
    }
}

/* ----------------------- FORMULARIO ---------------------- */
.contacto {
    height: 100vh;
}

.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 170px;
}

form {
    border-top: 2px solid #1D1D1B;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    max-width: 1000px;
}

input, textarea, select {
    background-color: rgb(154, 73, 208, 0.20);
    border-radius: 10px;
    width: 100%;
    padding: 10px;
    border: none;
    margin: 5px 0px 20px;
}

textarea {
    min-height: 100px;
}

.label {
    margin-left: 10px;
    color: #1D1D1B;
}
.dos-columnas-form {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    gap: 20px;

}

.columnas-form{
    width: 100%;
}

select {
    cursor: pointer;
}

option {
    color: #1D1D1B;
    background-color: rgb(154, 73, 208, 0.20);
    padding: 5px;

}
  
option:hover {
    background-color: #590D8B;
}

.enviar-borrar{
    display: flex;
    align-items: end;
    max-width: fit-content;
    border-radius: 10px;
    gap: 15px;
    align-self: flex-end;
}

.submit {
    background-color: #590D8B;
    color: #DADADA;
}
.reset {
    background-color: #888;
    color: #DADADA;
}

/* ---------------------------- PIE ---------------------------- */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 135px;
    background-color: rgb(39, 39, 39);
    color: #DADADA;
    font-size: 0.8em;
}

.footer-derecha {
    display: flex;
    align-items: center;
    gap: 20px;
}

.volver {
    display: flex;
    align-items: center;
}

.volver a {
    font-size: 1.2em;
    color: #DADADA;
    letter-spacing: 0.1em;
}

/* -------------------- flotante redes ----------------------- */
.redes-fixed {
    position: fixed;
    top: 40%;
    right: 0;
    background-color: rgb(39, 39, 39);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.redes-fixed img:hover {
    border-bottom: 3px solid #888;
}

/* >> CURSOR >> */
.cursor {
	position: fixed;
	z-index: 250;
	width: 25px;
	height: 25px;
	background-image: url("img/cursor.png");
	background-size: cover;
	cursor: none;
	pointer-events: none; 
}